<!-- {% from "form.html" import render_field, render_form %} -->

{% extends "base.html" %}

{% block script %}
    <script src="{{ url_for('static', filename='js/basket.js') }}"></script>
{% endblock %}

{% block body %}
    {% if basket_has_products %}
        {% for link in sorted_links %}
                {% set product = link.product %}
                <div class="panel panel-default product-item">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <a href="#" class="thumbnail">
                                    <img src="{{ product.get_img_url() }}">
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6">
                                <p>
                                    <b>{{ product.title }}</b>
                                </p>
                                <p>
                                    <b>Price:</b> {{ product.price }}$
                                </p>
                                <p>
                                    <b>QTY:</b>
                                    <div class="row form-group">
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default btn-number" data-target="#product-{{ product.id }}-qty" data-type="minus" {{ 'disabled="disabled"' if link.qty <= 1 else '' }}>
                                                        <span class="glyphicon glyphicon-minus"></span>
                                                    </button>
                                                </span>
                                                <input id="product-{{ product.id }}-qty" type="text" name="qty" class="form-control" value="{{ link.qty }}" data-url="{{ url_for('order_product_qty', product_id=product.id) }}" data-max="{{ product.qty }}" readonly="readonly">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default btn-number" data-target="#product-{{ product.id }}-qty" data-type="plus" {{ 'disabled="disabled"' if link.qty >= product.qty else '' }}>
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-6 errors"></div>
                                    </div>
                                </p>
                                <p>
                                    <button type="button" class="btn btn-danger remove-product">
                                        Remove
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
        {% if form %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    Pay
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            {% call render_form(form, url_for('basket'), cancel_btn=False) %}
                                {{ render_field(form.payment_method) }}
                            {% endcall %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="alert alert-info" role="alert">
            Basket is empty. Please <a href="{{ url_for('product_list') }}" class="decoration-non"> add products </a>
        </div>
    {% endif %}
{% endblock %}
