{% extends "base.html" %}

{% block script %}
    <script src="{{ url_for('static', filename='js/product-list.js') }}"></script>
{% endblock %}

{% block body %}
    {% for product in products %}
        <div class="panel panel-default product-item">
            <div class="panel-heading">
            {% if product.in_stock() %}
                {% if not order_product_ids or product.id not in order_product_ids %}
                    <button class="btn btn-primary add-product"
                        type="button"
                        data-url="{{ url_for('basket_product_add', product_id=product.id) }}"
                    >
                        Add to Basket
                    </button>
                {% else %}
                    <span class="label label-info">The product in the basket</span>
                {% endif %}
            {% else %}
                <span class="label label-warning">Product not in stock</span>
            {% endif %}
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <a href="#" class="thumbnail">
                            <img src="{{ product.get_img_url() }}">
                        </a>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6">
                        <p>
                            <b>{{ product.title }}</b>
                        </p>
                        <p>
                            <b>Price:</b> {{ product.price }}$
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
