{% macro render_field(field) %}
    <div class="form-group {{ 'has-error' if field.errors else '' }}">
        {{ field.label(class='col-sm-2 control-label') }}
        <div class="col-sm-10">
            {{ field(class='form-control')|safe }}

        {% if field.errors %}
            <ul class="errors">
            {% for error in field.errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        </div>
    </div>
{% endmacro %}


{% macro render_form(form, action_url, method='post', cancel_btn=True, delete_url=None) %}
    <form class="form-horizontal" method="{{ method }}" action="{{ action_url }}">
        {{ caller() }}

    {% if cancel_btn %}
        <a href="{{ url_for('admin_product_list') }}" class="btn btn btn-default" role="button">
            Cancel
        </a>
    {% endif %}

        <div class="pull-right">
        {% if delete_url %}
            <a href="#" class="btn btn btn-danger" data-href="{{ delete_url }}" data-toggle="modal" data-target="#confirm-delete" role="button">
                Delete
            </a>

            <div class="modal fade confirm-delete" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            Delete Confirm
                        </div>
                        <div class="modal-body">
                            Are you sure you want to remove this product?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-danger btn-ok">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if 'submit' in form %}
            {{ form.submit(class="btn btn btn-success")|safe }}
        {% endif %}
        </div>
    </form>
{% endmacro %}
