{% from "form.html" import render_field, render_form %}

{% extends "base.html" %}

{% block body %}
    <div class="panel panel-default product-item">
        <div class="panel-heading">
            New Product
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {% call render_form(form, request.path) %}
                        {{ render_field(form.title) }}
                        {{ render_field(form.price) }}
                        {{ render_field(form.image_url) }}
                        {{ render_field(form.qty) }}
                    {% endcall %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
